.contact-container {
    direction: rtl;
    max-width: 600px;
    margin:2rem auto;
    padding: 2rem;
    font-family: "Arial", sans-serif;
    background: #F4EDE2;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .contact-container h2 {
    text-align: center;
    color: #333;
  }
  
  .contact-info p {
    margin: 0.3rem 0;
    color: #444;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  
  .contact-form label {
    margin-top: 1rem;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
  }
  button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
   
  }
  
 