/* רקע כללי לניווט */
nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 1rem 2rem;
  direction: rtl;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* סידור פנימי של הלוגו והתפריט */

/* הלוגו */
.logo img {
 height: 100px;
  width: auto;
  max-height: 400px;
  background-color: #ffffff00;
}

/* תפריט ניווט */
ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 1.5rem;
 
  font-size: 1rem;
}

ul li {
  position: relative;
}

/* תפריט נפתח */
ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  padding: 0.5rem;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

ul li:hover ul {
  display: block;
}

/* קישורים */
a {
  text-decoration: none;
  color: #1d1d1d;
  transition: color 0.3s;
}

a:hover {
  color: #007a73;
}

/* כפתור התנתקות */
button {
  border: none;
  background: #dc3545;
  color: #fff;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  font-family: "Heebo", sans-serif;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #c82333;
}

/* ברספונסיביות */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  ul {
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 1rem;
  }

  .logo {
    margin-bottom: 1rem;
  }
}
